node-red_project/Covid-19API.json
[{"id":"85b6126b.8630b","type":"tab","label":"Covid-19 and Temp on web","disabled":false,"info":""},{"id":"7fe8e148.c5aa2","type":"json","z":"85b6126b.8630b","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":200,"wires":[["337f6ed0.f14352","d12d9b3b.a33828","b08a1a81.8fd1f8","1176d281.b2546d","b7e76c4b.7e462","72d5a9e3.7e87c8","dcc9d8f4.d3a0d8","5f649e69.34da4","38dc362b.a1528a"]]},{"id":"337f6ed0.f14352","type":"ui_text","z":"85b6126b.8630b","group":"993b7c54.1ee2f","order":0,"width":0,"height":0,"name":"","label":"Confirmed","format":"{{msg.payload.Confirmed}}","layout":"row-spread","x":810,"y":80,"wires":[]},{"id":"d12d9b3b.a33828","type":"debug","z":"85b6126b.8630b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":40,"wires":[]},{"id":"82a6511.e8ed1b","type":"http request","z":"85b6126b.8630b","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://covid19.th-stat.com/api/open/today","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":200,"wires":[["7fe8e148.c5aa2"]]},{"id":"2fea0589.311e2a","type":"ui_button","z":"85b6126b.8630b","name":"","group":"993b7c54.1ee2f","order":1,"width":0,"height":0,"passthru":false,"label":"Click to check about COVID-19","tooltip":"","color":"white","bgcolor":"blue","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":180,"wires":[["82a6511.e8ed1b"]]},{"id":"b865e2b7.e24c6","type":"inject","z":"85b6126b.8630b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"86400","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":240,"wires":[["82a6511.e8ed1b"]]},{"id":"1176d281.b2546d","type":"ui_text","z":"85b6126b.8630b","group":"993b7c54.1ee2f","order":0,"width":0,"height":0,"name":"","label":"Recovered","format":"{{msg.payload.Recovered}}","layout":"row-spread","x":810,"y":120,"wires":[]},{"id":"b7e76c4b.7e462","type":"ui_text","z":"85b6126b.8630b","group":"993b7c54.1ee2f","order":0,"width":0,"height":0,"name":"","label":"Hospitalized","format":"{{msg.payload.Hospitalized}}","layout":"row-spread","x":810,"y":160,"wires":[]},{"id":"dcc9d8f4.d3a0d8","type":"ui_text","z":"85b6126b.8630b","group":"993b7c54.1ee2f","order":0,"width":0,"height":0,"name":"","label":"NewConfirmed","format":"{{msg.payload.NewConfirmed}}","layout":"row-spread","x":820,"y":240,"wires":[]},{"id":"5f649e69.34da4","type":"ui_text","z":"85b6126b.8630b","group":"993b7c54.1ee2f","order":0,"width":0,"height":0,"name":"","label":"NewRecovered","format":"{{msg.payload.NewRecovered}}","layout":"row-spread","x":820,"y":280,"wires":[]},{"id":"72d5a9e3.7e87c8","type":"ui_text","z":"85b6126b.8630b","group":"993b7c54.1ee2f","order":0,"width":0,"height":0,"name":"","label":"Deaths","format":"{{msg.payload.Deaths}}","layout":"row-spread","x":800,"y":200,"wires":[]},{"id":"38dc362b.a1528a","type":"ui_text","z":"85b6126b.8630b","group":"993b7c54.1ee2f","order":0,"width":0,"height":0,"name":"","label":"NewHospitalized","format":"{{msg.payload.NewHospitalized}}","layout":"row-spread","x":830,"y":320,"wires":[]},{"id":"b08a1a81.8fd1f8","type":"ui_text","z":"85b6126b.8630b","group":"993b7c54.1ee2f","order":8,"width":0,"height":0,"name":"","label":"NewDeaths","format":"{{msg.payload.NewDeaths}}","layout":"row-spread","x":810,"y":360,"wires":[]},{"id":"9380f53b.2bbdb8","type":"http request","z":"85b6126b.8630b","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://covid19.th-stat.com/api/open/today","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":480,"wires":[["6ddc3ebc.d0ab3"]]},{"id":"54813320.f0639c","type":"tableify","z":"85b6126b.8630b","name":"COVID","before":"About COVID-19","after":"God bless you","tableStyle":"","theadStyle":"","tbodyStyle":"","trStyle":"","tdStyle":"","x":640,"y":480,"wires":[["bb36b68d.10c318"]]},{"id":"e10a73aa.39b6b","type":"http in","z":"85b6126b.8630b","name":"","url":"/covid19","method":"get","upload":false,"swaggerDoc":"","x":110,"y":480,"wires":[["9380f53b.2bbdb8"]]},{"id":"bb36b68d.10c318","type":"http response","z":"85b6126b.8630b","name":"","statusCode":"","headers":{},"x":810,"y":480,"wires":[]},{"id":"8b260917.a808b8","type":"http in","z":"85b6126b.8630b","name":"","url":"/weather","method":"get","upload":false,"swaggerDoc":"","x":110,"y":560,"wires":[["828da5b8.89d0b8"]]},{"id":"828da5b8.89d0b8","type":"function","z":"85b6126b.8630b","name":"","func":"msg.payload = {\"Celcius\":global.get(\"Celcius\") , \"Humidity\":global.get(\"Humi\") , \"Fahrenheit Temperature\":global.get(\"Fah\")};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":560,"wires":[["16fcd792.97a8f8"]]},{"id":"4a6e8268.6014ac","type":"http response","z":"85b6126b.8630b","name":"","statusCode":"","headers":{},"x":810,"y":560,"wires":[]},{"id":"16fcd792.97a8f8","type":"tableify","z":"85b6126b.8630b","name":"Wether","before":"Temperature Now","after":"Thanks for coming","tableStyle":"","theadStyle":"","tbodyStyle":"","trStyle":"","tdStyle":"","x":600,"y":560,"wires":[["4a6e8268.6014ac"]]},{"id":"d57b703.4731a9","type":"debug","z":"85b6126b.8630b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":720,"wires":[]},{"id":"284f5898.db5108","type":"function","z":"85b6126b.8630b","name":"Tempsent","func":"var message = \"\\nTemperature: \"+global.get(\"Celcius\")+\" C\";\nmessage += \"\\nTemperature: \"+global.get(\"Fah\")+\" F\";\nmessage += \"\\nHumidity: \"+global.get(\"Humi\")+\" %\";\n\nmsg.payload = message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":640,"wires":[["e4924583.30dee8"]]},{"id":"e4924583.30dee8","type":"function","z":"85b6126b.8630b","name":"token","func":"msg.headers = {\n    'content-type':'application/x-www-form-urlencoded',\n    'Authorization':'Bearer QEUuVVWqihrbgKuspwIOcVeSNgPZ5jopLmj2dD0MG46'\n};\nmsg.payload = {\n    \"message\":msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":640,"wires":[["f402c871.cb63a8"]]},{"id":"f402c871.cb63a8","type":"http request","z":"85b6126b.8630b","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":640,"wires":[["d57b703.4731a9"]]},{"id":"787c76d2.616a28","type":"inject","z":"85b6126b.8630b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":640,"wires":[["284f5898.db5108"]]},{"id":"6ddc3ebc.d0ab3","type":"function","z":"85b6126b.8630b","name":"","func":"delete msg.payload.Source;\ndelete msg.payload.DevBy;\ndelete msg.payload.SeverBy;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":480,"wires":[["54813320.f0639c","d57b703.4731a9"]]},{"id":"f604b048.d214b","type":"inject","z":"85b6126b.8630b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":420,"wires":[["9380f53b.2bbdb8"]]},{"id":"993b7c54.1ee2f","type":"ui_group","name":"About Covid","tab":"572630d0.572a9","order":1,"disp":true,"width":"6","collapse":false},{"id":"572630d0.572a9","type":"ui_tab","name":"Hospital News","icon":"dashboard","disabled":false,"hidden":false}]