node-red_project/Flappy_bird.json
[{"id":"595fecd3.284bd4","type":"tab","label":"Flapby bird","disabled":false,"info":""},{"id":"346b12.81d994ee","type":"ui_template","z":"595fecd3.284bd4","d":true,"group":"17eee34d.85f67d","name":"","order":7,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Document</title>\n</head>\n\n<body>\n    <canvas id=\"c\" width=\"500\" height=\"500\"></canvas>\n\n    <script>\n        context = c.getContext('2d');\n        const bird = new Image();        \n        bird.src = \"https://i.pinimg.com/originals/cd/9a/a7/cd9aa77af526835cd18a7c5a0868e35d.png\";\n        const newyorktown = new Image();\n        newyorktown.src = \"https://i.pinimg.com/originals/f6/09/eb/f609ebd305e01bb473bdb79245c27f45.jpg\";\n        const town = new Image();\n        town.src = \"https://lh3.googleusercontent.com/proxy/mctKSb0l16XZ83qq3FanYlb6MaJoQia57lAvNzfxNxBAhNqu0avpJ1yr-SC9IBd1iMQnEvuVn3NrZDqR3DMvyv\";\n        birdDY = score = bestScore = 0;\n        birdX = 80;\n        birdSize = 100;\n        pipeWidth = topPipeBottomY = 50;\n        interval = 25; //framerate\n        birdY = pipeGap = 200;\n        // pipeGap = 200;\n        canvasSize = pipeX = 500;\n        c.onclick = () => { birdDY = 8 }\n        setInterval(() => {\n\n               \n\n            context.drawImage(newyorktown,0,0,500,500)\n            \n            /*context.fillStyle = \"black\";\n            context.fillRect(0, 0, canvasSize, canvasSize); //Sky*/\n\n            birdY -= birdDY -= 0.5;   // Gravity\n            context.drawImage(bird, birdX, birdY, birdSize, birdSize); // Bird\n\n            //context.fillStyle = \"black\";\n            context.fillStyle = 'hsl(' + 360 * Math.random() + ', 80%, 50%)';\n            pipeX -= 10; // Move pipe\n            pipeX < -pipeWidth && ((pipeX = canvasSize), (topPipeBottomY = pipeGap * Math.random()));\n            context.fillRect(pipeX, 0, pipeWidth, topPipeBottomY);\n            context.fillRect(pipeX, topPipeBottomY + pipeGap, pipeWidth, canvasSize);\n\n            context.fillStyle = \"white\";\n            context.fillText(`Your score : ${score++}`, 10, 15);\n            bestScore = bestScore < score ? score : bestScore;\n            context.fillText(`Best score : ${bestScore}`, 10, 490);\n            \n\n\n            \n            (((birdY < topPipeBottomY || birdY > topPipeBottomY + 170) && pipeX < birdSize) //Hit pipe\n                || birdY > canvasSize) &&  // Fall\n                ((birdY = 0), (pipeX = canvasSize), (score = 0)); //Reset\n\n             \n\n\n            /*if(score = 200) {\n                context.drawImage(town,0,0,500,500)\n            }  */ \n\n            // ((t != 0 && a>b) || x>Y) && ((u>x)||(g<t))  && ((do1=5),(xx=20))\n\n            // 1 || 1 = 1\n            // 1 || 0 = 1\n            // 0 || 0 = 0\n\n            // 1 && 0 = 0\n            // 1 && 1 = 1\n            // 0 && 0 = 0\n\n            // a > b && c == 0 && y < o\n\n        }, interval)\n    </script>\n\n</body>\n\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":460,"y":100,"wires":[[]]},{"id":"3a662d4.abc62d2","type":"ui_template","z":"595fecd3.284bd4","group":"17eee34d.85f67d","name":"","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n    <canvas id=\"c\" width=\"500\" height=\"500\"></canvas>\n    \n<script type=\"text/javascript\">\n\nvar theScope = scope;\nvar bleh = null;\nvar playerName = \"\";\n\n// Watch the payload and update\n(function(scope) {\n    context = c.getContext('2d');\n        const bird = new Image();        \n        bird.src = \"https://i.pinimg.com/originals/cd/9a/a7/cd9aa77af526835cd18a7c5a0868e35d.png\";\n        const newyorktown = new Image();\n        newyorktown.src = \"https://i.pinimg.com/originals/f6/09/eb/f609ebd305e01bb473bdb79245c27f45.jpg\";\n        const town = new Image();\n        town.src = \"https://lh3.googleusercontent.com/proxy/mctKSb0l16XZ83qq3FanYlb6MaJoQia57lAvNzfxNxBAhNqu0avpJ1yr-SC9IBd1iMQnEvuVn3NrZDqR3DMvyv\";\n        birdDY = score = bestScore = 0;\n        birdX = 80;\n        birdSize = 100;\n        pipeWidth = topPipeBottomY = 50;\n        interval = 25; //framerate\n        birdY = pipeGap = 200;\n        // pipeGap = 200;\n        canvasSize = pipeX = 500;\n        c.onclick = () => { birdDY = 8 }\n        setInterval(() => {\n\n               \n\n            context.drawImage(newyorktown,0,0,500,500)\n            \n            /*context.fillStyle = \"black\";\n            context.fillRect(0, 0, canvasSize, canvasSize); //Sky*/\n\n            birdY -= birdDY -= 0.5;   // Gravity\n            context.drawImage(bird, birdX, birdY, birdSize, birdSize); // Bird\n\n            //context.fillStyle = \"black\";\n            context.fillStyle = 'hsl(' + 360 * Math.random() + ', 80%, 50%)';\n            pipeX -= 10; // Move pipe\n            pipeX < -pipeWidth && ((pipeX = canvasSize), (topPipeBottomY = pipeGap * Math.random()));\n            context.fillRect(pipeX, 0, pipeWidth, topPipeBottomY);\n            context.fillRect(pipeX, topPipeBottomY + pipeGap, pipeWidth, canvasSize);\n\n            context.fillStyle = \"white\";\n            context.fillText(`Your score : ${score++}`, 10, 15);\n            bestScore = bestScore < score ? score : bestScore;\n            context.fillText(`Best score : ${bestScore}`, 10, 490);\n            context.fillText(`Player : ${playerName}`, 10, 40);\n            \n\n\n            \n            (((birdY < topPipeBottomY || birdY > topPipeBottomY + 170) && pipeX < birdSize) //Hit pipe\n                || birdY > canvasSize) &&  // Fall\n                ((birdY = 0), (pipeX = canvasSize),(theScope.send({payload:{Player:playerName,Score:score, BestScore:bestScore}})), (score = 0) ); //Reset\n\n        }, interval); \n scope.$watch('msg.payload', function(data) {\n     playerName = data;\n     theScope.send({payload:playerName});\n });\n})(scope);\n\n\n</script>\n</html>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":580,"y":180,"wires":[["430c3005.089e2"]]},{"id":"430c3005.089e2","type":"debug","z":"595fecd3.284bd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":180,"wires":[]},{"id":"9d91292f.67dd18","type":"ui_text_input","z":"595fecd3.284bd4","name":"","label":"","tooltip":"","group":"17eee34d.85f67d","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":380,"y":180,"wires":[["3a662d4.abc62d2"]]},{"id":"17eee34d.85f67d","type":"ui_group","name":"Spiderman","tab":"c6886dc0.c61e","order":1,"disp":true,"width":"10","collapse":false},{"id":"c6886dc0.c61e","type":"ui_tab","name":"Games","icon":"dashboard","disabled":false,"hidden":false}]