node-red_project/lineNotify.json
[{"id":"8a1335ea.cdd998","type":"tab","label":"Line notify","disabled":false,"info":""},{"id":"fd557900.a66b08","type":"http request","z":"8a1335ea.cdd998","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://covid19.th-stat.com/api/open/today","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":80,"wires":[["881d6841.fddd28","ab90a695.7d6678"]]},{"id":"881d6841.fddd28","type":"function","z":"8a1335ea.cdd998","name":"chat","func":"var message = \"\\nอับเดทล่าสุด: \"+msg.payload.UpdateDate+\"\\n\";\nmessage += \"ผู้ติดเชื้อสะสม: \"+msg.payload.Confirmed+\" ( \"+msg.payload.NewConfirmed+\" )\\n\";\nmessage += \"หายแล้ว: \"+msg.payload.Recovered+\" ( \"+msg.payload.NewRecovered+\" )\\n\";\nmessage += \"รักษาอยู่: \"+msg.payload.Hospitalized+\" ( \"+msg.payload.NewHospitalized+\" )\\n\";\nmessage += \"เสียชีวิต: \"+msg.payload.Deaths+\" ( \"+msg.payload.NewDeaths+\" )\\n\";\n\nmsg.payload = message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":80,"wires":[["55af7b34.9b9174"]]},{"id":"55af7b34.9b9174","type":"function","z":"8a1335ea.cdd998","name":"token","func":"msg.headers = {\n    'content-type':'application/x-www-form-urlencoded',\n    'Authorization':'Bearer QEUuVVWqihrbgKuspwIOcVeSNgPZ5jopLmj2dD0MG46'\n};\nmsg.payload = {\n    \"message\":msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":80,"wires":[["a5e7b5e4.0510e8"]]},{"id":"a5e7b5e4.0510e8","type":"http request","z":"8a1335ea.cdd998","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":80,"wires":[[]]},{"id":"2a40414d.18797e","type":"inject","z":"8a1335ea.cdd998","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"86400","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":80,"wires":[["fd557900.a66b08"]]},{"id":"32c1e0f6.ba5bd","type":"function","z":"8a1335ea.cdd998","name":"Tempsent","func":"var message = \"\\nTemperature: \"+global.get(\"Celcius\")+\" C\";\nmessage += \"\\nTemperature: \"+global.get(\"Fah\")+\" F\";\nmessage += \"\\nHumidity: \"+global.get(\"Humi\")+\" %\";\n\nmsg.payload = message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":180,"wires":[["38f96e01.333b92","ab90a695.7d6678"]]},{"id":"38f96e01.333b92","type":"function","z":"8a1335ea.cdd998","name":"token","func":"msg.headers = {\n    'content-type':'application/x-www-form-urlencoded',\n    'Authorization':'Bearer QEUuVVWqihrbgKuspwIOcVeSNgPZ5jopLmj2dD0MG46'\n};\nmsg.payload = {\n    \"message\":msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":180,"wires":[["cae9cb81.d796f8"]]},{"id":"cae9cb81.d796f8","type":"http request","z":"8a1335ea.cdd998","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":180,"wires":[[]]},{"id":"74311eb.a0578e","type":"inject","z":"8a1335ea.cdd998","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":180,"wires":[["32c1e0f6.ba5bd"]]},{"id":"ab90a695.7d6678","type":"debug","z":"8a1335ea.cdd998","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":140,"wires":[]}]