LED_on_off_mqtt/LED_on_off.json
[{"id":"52c6c129.80b5c","type":"tab","label":"LED_on_off","disabled":false,"info":""},{"id":"1d67c8f4.33a4a7","type":"mqtt out","z":"52c6c129.80b5c","name":"Red LED","topic":"/esp/red","qos":"","retain":"","broker":"f07e1ca8.b60dc","x":420,"y":100,"wires":[]},{"id":"4101665b.5731b8","type":"ui_button","z":"52c6c129.80b5c","name":"","group":"255657d7.cad4b8","order":2,"width":0,"height":0,"passthru":false,"label":"Turn Off","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"off","payloadType":"str","topic":"/esp/red","x":100,"y":100,"wires":[["1d67c8f4.33a4a7"]]},{"id":"883921ea.406ac","type":"ui_button","z":"52c6c129.80b5c","name":"","group":"255657d7.cad4b8","order":1,"width":0,"height":0,"passthru":false,"label":"Turn On","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"on","payloadType":"str","topic":"/esp/red","x":100,"y":60,"wires":[["1d67c8f4.33a4a7"]]},{"id":"cb7f8c04.c3de8","type":"debug","z":"52c6c129.80b5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":80,"wires":[]},{"id":"5a451c32.acdb74","type":"mqtt in","z":"52c6c129.80b5c","name":"","topic":"/esp/red","qos":"2","datatype":"auto","broker":"f07e1ca8.b60dc","x":600,"y":100,"wires":[["cb7f8c04.c3de8","4f858829.322028"]]},{"id":"1806b22.73e6c4e","type":"ui_button","z":"52c6c129.80b5c","name":"","group":"d68f7a5.d998988","order":1,"width":0,"height":0,"passthru":false,"label":"Check Red LED state","tooltip":"","color":"black","bgcolor":"yellow","icon":"","payload":"Lightstate","payloadType":"str","topic":"/esp/red","x":140,"y":180,"wires":[["1d67c8f4.33a4a7"]]},{"id":"4f858829.322028","type":"ui_text","z":"52c6c129.80b5c","group":"d68f7a5.d998988","order":3,"width":0,"height":0,"name":"LED State","label":"LED state","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":140,"wires":[]},{"id":"7c9cd265.b5901c","type":"ui_switch","z":"52c6c129.80b5c","name":"","label":"on-off","tooltip":"","group":"255657d7.cad4b8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":90,"y":140,"wires":[["1d67c8f4.33a4a7"]]},{"id":"f07e1ca8.b60dc","type":"mqtt-broker","name":"Localhost","broker":"192.168.43.5","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"255657d7.cad4b8","type":"ui_group","name":"Control Red LED","tab":"f725741a.c03408","order":1,"disp":true,"width":"6","collapse":false},{"id":"d68f7a5.d998988","type":"ui_group","name":"Inspect Red LED status","tab":"f725741a.c03408","order":2,"disp":true,"width":"6","collapse":false},{"id":"f725741a.c03408","type":"ui_tab","name":"Smart Farm","icon":"dashboard","disabled":false,"hidden":false}]