BitcoinLinenotify.json
[{"id":"af19397f.4782f8","type":"tab","label":"Bitcoin line notify","disabled":false,"info":""},{"id":"c777914.7138e7","type":"http request","z":"af19397f.4782f8","name":"API","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.coindesk.com/v1/bpi/currentprice/CNY.json","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":120,"wires":[["b2d62054.927c4","230191fb.2dca6e"]]},{"id":"80f74ad7.627ff8","type":"inject","z":"af19397f.4782f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["c777914.7138e7"]]},{"id":"b2d62054.927c4","type":"debug","z":"af19397f.4782f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":60,"wires":[]},{"id":"d0613032.6c966","type":"function","z":"af19397f.4782f8","name":"Line Token","func":"msg.headers = {\n    'content-type':'application/x-www-form-urlencoded',\n    'Authorization':'Bearer nf30jbkhRcnyBirOuYpg2L2JtLvdBQopUJx1PcFVzDh'\n};\nmsg.payload = {\n    \"message\":msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":120,"wires":[["3d4b55e2.1c121a"]]},{"id":"3d4b55e2.1c121a","type":"http request","z":"af19397f.4782f8","name":"Line notify","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":120,"wires":[[]]},{"id":"230191fb.2dca6e","type":"function","z":"af19397f.4782f8","name":"Bitcoin","func":"var message = \"\\n\\n🌎 Bitcoin today 🌎\\n\";\nmessage += \"Latest Update: \"+msg.payload.time.updated+\" \";\nmessage += \"\\n\\n--------------------------------\";\nmessage += \"\\nCountry: \"+msg.payload.bpi.USD.code+\" \";\nmessage += \"\\nRate: \"+msg.payload.bpi.USD.rate+\" \";\nmessage += \"\\nUnit: \"+msg.payload.bpi.USD.description+\" \";\nmessage += \"\\nRate in float: \"+msg.payload.bpi.USD.rate_float+\" \";\nmessage += \"\\n--------------------------------\";\nmessage += \"\\nCountry: \"+msg.payload.bpi.CNY.code+\" \";\nmessage += \"\\nRate: \"+msg.payload.bpi.CNY.rate+\" \";\nmessage += \"\\nUnit: \"+msg.payload.bpi.CNY.description+\" \";\nmessage += \"\\nRate in float: \"+msg.payload.bpi.CNY.rate_float+\" \";\nmessage += \"\\n--------------------------------\";\n\nmsg.payload = message;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":120,"wires":[["d0613032.6c966"]]},{"id":"17fda683.de8b39","type":"function","z":"af19397f.4782f8","name":"","func":"var message = \"\\n\\n👑Bitcoin today👑\\n\";\nmessage += \"\\n--------------------------------\";\nmessage += \"\\nUSD : \"+msg.payload.USD.last+\" \"+msg.payload.USD.symbol+\" \";\nmessage += \"\\n--------------------------------\";\nmessage += \"\\nINR : \"+msg.payload.INR.last+\" \"+msg.payload.INR.symbol+\" \";\nmessage += \"\\n--------------------------------\";\nmessage += \"\\nDKK : \"+msg.payload.DKK.last+\" \"+msg.payload.DKK.symbol+\" \";\nmessage += \"\\n--------------------------------\";\nmessage += \"\\nRUB : \"+msg.payload.RUB.last+\" \"+msg.payload.RUB.symbol+\" \";\nmessage += \"\\n--------------------------------\";\nmessage += \"\\nTHB : \"+msg.payload.THB.last+\" \"+msg.payload.THB.symbol+\" \";\nmessage += \"\\n--------------------------------\";\n\nmsg.payload = message;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":260,"wires":[["77608585.83f69c"]]},{"id":"b8d63960.ad9788","type":"inject","z":"af19397f.4782f8","name":"","props":[{"p":"payload"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":260,"wires":[["fe7fe0ec.27ab8","995749be.bf5508"]]},{"id":"fe7fe0ec.27ab8","type":"http request","z":"af19397f.4782f8","name":"API 2","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://blockchain.info/ticker","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":260,"wires":[["b2d62054.927c4","17fda683.de8b39"]]},{"id":"77608585.83f69c","type":"function","z":"af19397f.4782f8","name":"Line Token","func":"msg.headers = {\n    'content-type':'application/x-www-form-urlencoded',\n    'Authorization':'Bearer nf30jbkhRcnyBirOuYpg2L2JtLvdBQopUJx1PcFVzDh'\n};\nmsg.payload = {\n    \"message\":msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":260,"wires":[["d2201e9e.2bed6"]]},{"id":"d2201e9e.2bed6","type":"http request","z":"af19397f.4782f8","name":"Line notify","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":260,"wires":[[]]},{"id":"995749be.bf5508","type":"debug","z":"af19397f.4782f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":270,"y":180,"wires":[]},{"id":"c5769324.9474f","type":"debug","z":"af19397f.4782f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":180,"wires":[]}]