smartfarm.json
[{"id":"2ff75f95.0decd","type":"tab","label":"SmartFarm","disabled":false,"info":""},{"id":"cae5397b.c823c8","type":"mqtt in","z":"2ff75f95.0decd","name":"","topic":"/ESP/LED","qos":"2","datatype":"auto","broker":"cecf0acf.bfc918","x":560,"y":100,"wires":[["19fcdd69.eb6233"]]},{"id":"6ef8355e.d2295c","type":"mqtt out","z":"2ff75f95.0decd","name":"","topic":"/ESP/LED","qos":"","retain":"","broker":"cecf0acf.bfc918","x":380,"y":140,"wires":[]},{"id":"19fcdd69.eb6233","type":"debug","z":"2ff75f95.0decd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":100,"wires":[]},{"id":"17d4cd42.5d6673","type":"inject","z":"2ff75f95.0decd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"อัศสะจอรอหันการันยอ","payloadType":"str","x":150,"y":80,"wires":[["6ef8355e.d2295c"]]},{"id":"accaf8e2.f47f28","type":"mqtt in","z":"2ff75f95.0decd","name":"","topic":"/topic2/data","qos":"2","datatype":"auto","broker":"f07e1ca8.b60dc","x":570,"y":180,"wires":[["7092d470.99657c"]]},{"id":"7092d470.99657c","type":"debug","z":"2ff75f95.0decd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":180,"wires":[]},{"id":"6f2477d2.41bb48","type":"inject","z":"2ff75f95.0decd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Dang BudhaBless","payloadType":"str","x":150,"y":140,"wires":[["6ef8355e.d2295c"]]},{"id":"d02a6dfd.33315","type":"inject","z":"2ff75f95.0decd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"   Sariz","payloadType":"str","x":110,"y":200,"wires":[["6ef8355e.d2295c"]]},{"id":"3aae6015.40e45","type":"mqtt out","z":"2ff75f95.0decd","name":"Red LED","topic":"/esp/red","qos":"","retain":"","broker":"f07e1ca8.b60dc","x":420,"y":340,"wires":[]},{"id":"1e881801.3f97f8","type":"ui_button","z":"2ff75f95.0decd","name":"","group":"255657d7.cad4b8","order":2,"width":0,"height":0,"passthru":false,"label":"Turn Off","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"off","payloadType":"str","topic":"/esp/red","x":100,"y":300,"wires":[["3aae6015.40e45"]]},{"id":"d7db6f91.6bb6","type":"ui_button","z":"2ff75f95.0decd","name":"","group":"255657d7.cad4b8","order":1,"width":0,"height":0,"passthru":false,"label":"Turn On","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"on","payloadType":"str","topic":"/esp/red","x":100,"y":340,"wires":[["3aae6015.40e45"]]},{"id":"88f5e0a4.c2ee5","type":"debug","z":"2ff75f95.0decd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":320,"wires":[]},{"id":"1826e226.738a6e","type":"mqtt in","z":"2ff75f95.0decd","name":"","topic":"/esp/red","qos":"2","datatype":"auto","broker":"f07e1ca8.b60dc","x":600,"y":340,"wires":[["88f5e0a4.c2ee5","cdc78faa.60b96"]]},{"id":"1e645df3.4e2a62","type":"ui_button","z":"2ff75f95.0decd","name":"","group":"d68f7a5.d998988","order":1,"width":0,"height":0,"passthru":false,"label":"Check Red LED state","tooltip":"","color":"black","bgcolor":"yellow","icon":"","payload":"Lightstate","payloadType":"str","topic":"/esp/red","x":140,"y":420,"wires":[["3aae6015.40e45"]]},{"id":"cdc78faa.60b96","type":"ui_text","z":"2ff75f95.0decd","group":"d68f7a5.d998988","order":3,"width":0,"height":0,"name":"LED State","label":"LED state","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":380,"wires":[]},{"id":"8955339f.66295","type":"ui_switch","z":"2ff75f95.0decd","name":"","label":"on-off","tooltip":"","group":"255657d7.cad4b8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":90,"y":380,"wires":[["3aae6015.40e45"]]},{"id":"7455e9bf.95a258","type":"ui_slider","z":"2ff75f95.0decd","name":"","label":"PWM value","tooltip":"","group":"b074822c.5cba8","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"255","step":1,"x":110,"y":520,"wires":[["c803c9fd.eb5508"]]},{"id":"a1db184d.408468","type":"ui_gauge","z":"2ff75f95.0decd","name":"","group":"b074822c.5cba8","order":1,"width":"6","height":"4","gtype":"gage","title":"Brightness","label":"unit","format":"{{value}}","min":0,"max":"255","colors":["#4287c7","#98c680","#fde17e"],"seg1":"","seg2":"","x":830,"y":520,"wires":[]},{"id":"abcd0096.df8d6","type":"mqtt in","z":"2ff75f95.0decd","name":"","topic":"room/temperature","qos":"2","datatype":"auto","broker":"f07e1ca8.b60dc","x":130,"y":800,"wires":[["a95c6133.69dd6","b50fd393.d43c3","56625d43.a52584"]]},{"id":"b50fd393.d43c3","type":"ui_gauge","z":"2ff75f95.0decd","name":"","group":"a44b1811.53b178","order":1,"width":"6","height":"4","gtype":"donut","title":"Celcius","label":"Celcius","format":"{{value}}","min":0,"max":"100","colors":["#d30e2f","#ee9696","#93db6c"],"seg1":"","seg2":"","x":420,"y":800,"wires":[]},{"id":"1f2c68fb.2c55b7","type":"ui_gauge","z":"2ff75f95.0decd","name":"","group":"f3d93aad.a256b8","order":1,"width":"6","height":"4","gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#b0c1fd","#7d98fc","#313e7e"],"seg1":"","seg2":"","x":400,"y":860,"wires":[]},{"id":"27eed23d.983eee","type":"mqtt in","z":"2ff75f95.0decd","name":"","topic":"room/humidity","qos":"2","datatype":"auto","broker":"f07e1ca8.b60dc","x":110,"y":860,"wires":[["1f2c68fb.2c55b7","a95c6133.69dd6","6bfbdc9f.b958c4"]]},{"id":"a95c6133.69dd6","type":"debug","z":"2ff75f95.0decd","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":900,"wires":[]},{"id":"43401592.99867c","type":"mqtt in","z":"2ff75f95.0decd","name":"","topic":"room/fahrenheit","qos":"2","datatype":"auto","broker":"f07e1ca8.b60dc","x":120,"y":920,"wires":[["a95c6133.69dd6","d1a181ed.080ef","834957e4.748358"]]},{"id":"d1a181ed.080ef","type":"ui_gauge","z":"2ff75f95.0decd","name":"","group":"a44b1811.53b178","order":2,"width":"6","height":"4","gtype":"donut","title":"Fahrenheit","label":"Fahrenheit","format":"{{value}}","min":0,"max":"212","colors":["#165caf","#ff6190","#5f3c80"],"seg1":"","seg2":"","x":410,"y":920,"wires":[]},{"id":"c39aeb4.b799c18","type":"mqtt out","z":"2ff75f95.0decd","name":"Pump","topic":"/node/pump","qos":"","retain":"","broker":"f07e1ca8.b60dc","x":410,"y":640,"wires":[]},{"id":"22f7048f.88c82c","type":"ui_button","z":"2ff75f95.0decd","name":"","group":"114f5ade.bc5955","order":2,"width":0,"height":0,"passthru":false,"label":"pump Off","tooltip":"","color":"","bgcolor":"blue","icon":"","payload":"sendoff","payloadType":"str","topic":"/node/pump","x":100,"y":600,"wires":[["c39aeb4.b799c18"]]},{"id":"8df33f46.ed10e","type":"ui_button","z":"2ff75f95.0decd","name":"","group":"114f5ade.bc5955","order":1,"width":0,"height":0,"passthru":false,"label":"pump On","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"sendon","payloadType":"str","topic":"/node/pump","x":100,"y":640,"wires":[["c39aeb4.b799c18"]]},{"id":"99d68c6e.0be97","type":"ui_button","z":"2ff75f95.0decd","name":"","group":"a20fc12.de2b54","order":1,"width":0,"height":0,"passthru":false,"label":"Check pump state","tooltip":"","color":"","bgcolor":"purple","icon":"","payload":"state","payloadType":"str","topic":"/node/pump","x":130,"y":720,"wires":[["c39aeb4.b799c18"]]},{"id":"bbdecd60.3b09b","type":"ui_switch","z":"2ff75f95.0decd","name":"","label":"on-off","tooltip":"","group":"114f5ade.bc5955","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"sendon","onvalueType":"str","onicon":"","oncolor":"","offvalue":"sendoff","offvalueType":"str","officon":"","offcolor":"","x":90,"y":680,"wires":[["c39aeb4.b799c18"]]},{"id":"9bf877ec.88bbe8","type":"debug","z":"2ff75f95.0decd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":620,"wires":[]},{"id":"a1fc1e3e.b405e","type":"mqtt in","z":"2ff75f95.0decd","name":"","topic":"/node/pump","qos":"2","datatype":"auto","broker":"f07e1ca8.b60dc","x":630,"y":640,"wires":[["9bf877ec.88bbe8","3881d205.d2cc1e"]]},{"id":"3881d205.d2cc1e","type":"ui_text","z":"2ff75f95.0decd","group":"a20fc12.de2b54","order":3,"width":0,"height":0,"name":"Pump State","label":"pump state","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":680,"wires":[]},{"id":"6eb68f0b.55184","type":"ui_text_input","z":"2ff75f95.0decd","name":"","label":"","tooltip":"","group":"75ae145.8ae5cec","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"/start/hour","x":110,"y":1280,"wires":[["5298769c.b6e408","cc4cdb3f.6f6a98"]]},{"id":"f89d692.064ff98","type":"ui_text_input","z":"2ff75f95.0decd","name":"","label":"","tooltip":"","group":"75ae145.8ae5cec","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"/start/minute","x":110,"y":1320,"wires":[["5298769c.b6e408","8637498d.a32308"]]},{"id":"26a31386.c4065c","type":"ui_text_input","z":"2ff75f95.0decd","name":"","label":"","tooltip":"","group":"75ae145.8ae5cec","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"/end/hour","x":110,"y":1360,"wires":[["5298769c.b6e408","cf0f8e45.eab01"]]},{"id":"f52afe53.a5a97","type":"ui_text_input","z":"2ff75f95.0decd","name":"","label":"","tooltip":"","group":"75ae145.8ae5cec","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"/end/minute","x":110,"y":1400,"wires":[["5298769c.b6e408","8fac4a85.bf2ab8"]]},{"id":"5298769c.b6e408","type":"debug","z":"2ff75f95.0decd","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":1160,"wires":[]},{"id":"c803c9fd.eb5508","type":"mqtt out","z":"2ff75f95.0decd","name":"Yellow LED","topic":"/esp/yellow","qos":"","retain":"","broker":"f07e1ca8.b60dc","x":430,"y":520,"wires":[]},{"id":"836da9b9.5e5088","type":"mqtt in","z":"2ff75f95.0decd","name":"","topic":"/esp/yellow","qos":"2","datatype":"auto","broker":"f07e1ca8.b60dc","x":620,"y":520,"wires":[["a1db184d.408468"]]},{"id":"cc4cdb3f.6f6a98","type":"mqtt out","z":"2ff75f95.0decd","name":"","topic":"/start/hour","qos":"","retain":"","broker":"f07e1ca8.b60dc","x":360,"y":1240,"wires":[]},{"id":"721a9c3b.256134","type":"debug","z":"2ff75f95.0decd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":1220,"wires":[]},{"id":"27b95246.d299ae","type":"mqtt in","z":"2ff75f95.0decd","name":"","topic":"/start/hour","qos":"2","datatype":"auto","broker":"cecf0acf.bfc918","x":560,"y":1240,"wires":[["721a9c3b.256134","49488360.ddaa6c"]]},{"id":"8fac4a85.bf2ab8","type":"mqtt out","z":"2ff75f95.0decd","name":"","topic":"/end/minute","qos":"","retain":"","broker":"f07e1ca8.b60dc","x":370,"y":1420,"wires":[]},{"id":"cf0f8e45.eab01","type":"mqtt out","z":"2ff75f95.0decd","name":"","topic":"/end/hour","qos":"","retain":"","broker":"f07e1ca8.b60dc","x":360,"y":1360,"wires":[]},{"id":"8637498d.a32308","type":"mqtt out","z":"2ff75f95.0decd","name":"","topic":"/start/minute","qos":"","retain":"","broker":"f07e1ca8.b60dc","x":370,"y":1300,"wires":[]},{"id":"49488360.ddaa6c","type":"ui_text","z":"2ff75f95.0decd","group":"75ae145.8ae5cec","order":0,"width":0,"height":0,"name":"","label":"Send number","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":1340,"wires":[]},{"id":"164d6d50.9276f3","type":"mqtt in","z":"2ff75f95.0decd","name":"","topic":"/start/minute","qos":"2","datatype":"auto","broker":"cecf0acf.bfc918","x":570,"y":1300,"wires":[["721a9c3b.256134","49488360.ddaa6c"]]},{"id":"66028511.d6956c","type":"mqtt in","z":"2ff75f95.0decd","name":"","topic":"/end/hour","qos":"2","datatype":"auto","broker":"cecf0acf.bfc918","x":560,"y":1360,"wires":[["721a9c3b.256134","49488360.ddaa6c"]]},{"id":"d306a13b.d8ba2","type":"mqtt in","z":"2ff75f95.0decd","name":"","topic":"/end/minute","qos":"2","datatype":"auto","broker":"cecf0acf.bfc918","x":570,"y":1420,"wires":[["721a9c3b.256134","49488360.ddaa6c"]]},{"id":"47403f5.3912ec","type":"mqtt out","z":"2ff75f95.0decd","name":"","topic":"/oled/text","qos":"","retain":"","broker":"f07e1ca8.b60dc","x":440,"y":1780,"wires":[]},{"id":"c845106e.44599","type":"ui_text_input","z":"2ff75f95.0decd","name":"","label":"","tooltip":"","group":"6c96e97a.5a3fb8","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0.5","topic":"/oled/text","x":100,"y":1780,"wires":[["47403f5.3912ec"]]},{"id":"501cfd50.8c7fd4","type":"mqtt in","z":"2ff75f95.0decd","name":"","topic":"test/pressure","qos":"2","datatype":"auto","broker":"f07e1ca8.b60dc","x":110,"y":980,"wires":[["59e68250.5b544c","a95c6133.69dd6","fd6e83df.c59f9"]]},{"id":"e3f0c3f.7a1964","type":"mqtt in","z":"2ff75f95.0decd","name":"","topic":"test/altitude","qos":"2","datatype":"auto","broker":"f07e1ca8.b60dc","x":110,"y":1040,"wires":[["14ffbb31.5f8cb5","a95c6133.69dd6"]]},{"id":"59e68250.5b544c","type":"ui_gauge","z":"2ff75f95.0decd","name":"","group":"b7fa3051.6a70e","order":3,"width":"6","height":"4","gtype":"compass","title":"Pressure","label":"Pa","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":980,"wires":[]},{"id":"14ffbb31.5f8cb5","type":"ui_gauge","z":"2ff75f95.0decd","name":"","group":"5e01c10.c224b4","order":4,"width":"6","height":"4","gtype":"donut","title":"Altitude","label":"m","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":1040,"wires":[]},{"id":"fd6e83df.c59f9","type":"ui_chart","z":"2ff75f95.0decd","name":"","group":"2a2686d0.87f61a","order":1,"width":"6","height":"4","label":"pressure chart for statistics","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e1e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":660,"y":980,"wires":[[]]},{"id":"46b64c42.b32284","type":"mqtt in","z":"2ff75f95.0decd","name":"","topic":"ldr/value","qos":"2","datatype":"auto","broker":"f07e1ca8.b60dc","x":100,"y":1100,"wires":[["99bc5133.dd16f"]]},{"id":"99bc5133.dd16f","type":"ui_gauge","z":"2ff75f95.0decd","name":"","group":"eaeb2d60.e7cc4","order":4,"width":"6","height":"4","gtype":"donut","title":"LDR value","label":"cd/m2","format":"{{value}}","min":0,"max":"4095","colors":["#389393","#fa7f72","#f5a25d"],"seg1":"","seg2":"","x":410,"y":1100,"wires":[]},{"id":"341d6bf4.8c4ed4","type":"mqtt in","z":"2ff75f95.0decd","name":"","topic":"button/state","qos":"2","datatype":"auto","broker":"f07e1ca8.b60dc","x":110,"y":1860,"wires":[["906d943f.1b7478","b43992f8.c55ba"]]},{"id":"906d943f.1b7478","type":"debug","z":"2ff75f95.0decd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":1900,"wires":[]},{"id":"b43992f8.c55ba","type":"ui_text","z":"2ff75f95.0decd","group":"c0098f51.b9ca3","order":0,"width":0,"height":0,"name":"","label":"OUTPUT","format":"{{msg.payload}}","layout":"row-spread","x":440,"y":1840,"wires":[]},{"id":"e5de6f64.4ad3c","type":"ui_text_input","z":"2ff75f95.0decd","name":"","label":"","tooltip":"","group":"56eff9a6.910858","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"/pumpst/hour","x":110,"y":1540,"wires":[["7f06693e.395028","5298769c.b6e408"]]},{"id":"5353d0b7.acdc4","type":"ui_text_input","z":"2ff75f95.0decd","name":"","label":"","tooltip":"","group":"56eff9a6.910858","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"/pumpst/minute","x":110,"y":1580,"wires":[["8218b441.af70e8","5298769c.b6e408"]]},{"id":"55b17fc7.2385","type":"ui_text_input","z":"2ff75f95.0decd","name":"","label":"","tooltip":"","group":"56eff9a6.910858","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"/pumpen/hour","x":110,"y":1620,"wires":[["254c92d1.e66b2e","5298769c.b6e408"]]},{"id":"fef405f0.2e5fb8","type":"ui_text_input","z":"2ff75f95.0decd","name":"","label":"","tooltip":"","group":"56eff9a6.910858","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"/pumpen/minute","x":110,"y":1660,"wires":[["87ccb309.5085d","5298769c.b6e408"]]},{"id":"7f06693e.395028","type":"mqtt out","z":"2ff75f95.0decd","name":"","topic":"/pumpst/hour","qos":"","retain":"","broker":"f07e1ca8.b60dc","x":370,"y":1500,"wires":[]},{"id":"ca05dcf9.834e","type":"mqtt in","z":"2ff75f95.0decd","name":"","topic":"/pumpst/hour","qos":"2","datatype":"auto","broker":"cecf0acf.bfc918","x":570,"y":1500,"wires":[["5644660.7a2439c","721a9c3b.256134"]]},{"id":"87ccb309.5085d","type":"mqtt out","z":"2ff75f95.0decd","name":"","topic":"/pumpen/minute","qos":"","retain":"","broker":"f07e1ca8.b60dc","x":380,"y":1680,"wires":[]},{"id":"254c92d1.e66b2e","type":"mqtt out","z":"2ff75f95.0decd","name":"","topic":"/pumpen/hour","qos":"","retain":"","broker":"f07e1ca8.b60dc","x":380,"y":1620,"wires":[]},{"id":"8218b441.af70e8","type":"mqtt out","z":"2ff75f95.0decd","name":"","topic":"/pumpst/minute","qos":"","retain":"","broker":"f07e1ca8.b60dc","x":380,"y":1560,"wires":[]},{"id":"5644660.7a2439c","type":"ui_text","z":"2ff75f95.0decd","group":"56eff9a6.910858","order":0,"width":0,"height":0,"name":"","label":"Send number","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":1600,"wires":[]},{"id":"73d0bfc.c759a4","type":"mqtt in","z":"2ff75f95.0decd","name":"","topic":"/pumpst/minute","qos":"2","datatype":"auto","broker":"cecf0acf.bfc918","x":580,"y":1560,"wires":[["5644660.7a2439c","721a9c3b.256134"]]},{"id":"4d9b40a0.367ce","type":"mqtt in","z":"2ff75f95.0decd","name":"","topic":"/pumpen/hour","qos":"2","datatype":"auto","broker":"cecf0acf.bfc918","x":570,"y":1620,"wires":[["5644660.7a2439c","721a9c3b.256134"]]},{"id":"766e887a.1b5e28","type":"mqtt in","z":"2ff75f95.0decd","name":"","topic":"/pumpen/minute","qos":"2","datatype":"auto","broker":"cecf0acf.bfc918","x":580,"y":1680,"wires":[["5644660.7a2439c","721a9c3b.256134"]]},{"id":"56625d43.a52584","type":"change","z":"2ff75f95.0decd","name":"","rules":[{"t":"set","p":"Celcius","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":800,"wires":[[]]},{"id":"6bfbdc9f.b958c4","type":"change","z":"2ff75f95.0decd","name":"","rules":[{"t":"set","p":"Humi","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":840,"wires":[[]]},{"id":"834957e4.748358","type":"change","z":"2ff75f95.0decd","name":"","rules":[{"t":"set","p":"Fah","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":760,"wires":[[]]},{"id":"cecf0acf.bfc918","type":"mqtt-broker","name":"Broker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f07e1ca8.b60dc","type":"mqtt-broker","name":"Localhost","broker":"192.168.43.5","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"255657d7.cad4b8","type":"ui_group","name":"Control Light panel","tab":"f725741a.c03408","order":1,"disp":true,"width":"6","collapse":false},{"id":"d68f7a5.d998988","type":"ui_group","name":"Inspect Red LED status","tab":"f725741a.c03408","order":2,"disp":true,"width":"6","collapse":false},{"id":"b074822c.5cba8","type":"ui_group","name":"Control Yellow LED","tab":"f725741a.c03408","order":5,"disp":true,"width":"6","collapse":false},{"id":"a44b1811.53b178","type":"ui_group","name":"Temperature ","tab":"f725741a.c03408","order":6,"disp":true,"width":"6","collapse":false},{"id":"f3d93aad.a256b8","type":"ui_group","name":"Humidity ","tab":"f725741a.c03408","order":7,"disp":true,"width":"6","collapse":false},{"id":"114f5ade.bc5955","type":"ui_group","name":"Control pump","tab":"f725741a.c03408","order":3,"disp":true,"width":"6","collapse":false},{"id":"a20fc12.de2b54","type":"ui_group","name":"Inspect pump state","tab":"f725741a.c03408","order":4,"disp":true,"width":"6","collapse":false},{"id":"75ae145.8ae5cec","type":"ui_group","name":"Set Time to control Light","tab":"f725741a.c03408","order":14,"disp":true,"width":"6","collapse":false},{"id":"6c96e97a.5a3fb8","type":"ui_group","name":"OLED Chat","tab":"f725741a.c03408","order":12,"disp":true,"width":"6","collapse":false},{"id":"b7fa3051.6a70e","type":"ui_group","name":"Pressure","tab":"f725741a.c03408","order":10,"disp":true,"width":"6","collapse":false},{"id":"5e01c10.c224b4","type":"ui_group","name":"Altitude","tab":"f725741a.c03408","order":9,"disp":true,"width":"6","collapse":false},{"id":"2a2686d0.87f61a","type":"ui_group","name":"Pressure Chart","tab":"f725741a.c03408","order":11,"disp":true,"width":"6","collapse":false},{"id":"eaeb2d60.e7cc4","type":"ui_group","name":"LDR","tab":"f725741a.c03408","order":8,"disp":true,"width":"6","collapse":false},{"id":"c0098f51.b9ca3","type":"ui_group","name":"Button State","tab":"f725741a.c03408","order":13,"disp":true,"width":"6","collapse":false},{"id":"56eff9a6.910858","type":"ui_group","name":"Set time to control pump","tab":"f725741a.c03408","order":15,"disp":true,"width":"6","collapse":false},{"id":"f725741a.c03408","type":"ui_tab","name":"SmartFarm","icon":"dashboard","disabled":false,"hidden":false}]