saveTextfile/saveTextfile.json
[{"id":"8c8f6b63.f0e538","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"8664e657.889048","type":"debug","z":"8c8f6b63.f0e538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":60,"wires":[]},{"id":"64813a04.a05ca4","type":"file","z":"8c8f6b63.f0e538","name":"","filename":"D:\\karn vr.2\\iot\\test.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":780,"y":140,"wires":[[]]},{"id":"f5ea902e.288f9","type":"function","z":"8c8f6b63.f0e538","name":"","func":"Date.prototype.yyyymmdd = function() {\n  var yyyy = this.getFullYear();\n  var mm = this.getMonth() < 9 ? \"0\" + (this.getMonth() + 1) : (this.getMonth() + 1); // getMonth() is zero-based\n  var dd = this.getDate() < 10 ? \"0\" + this.getDate() : this.getDate();\n  return \"\".concat(yyyy).concat(mm).concat(dd);\n};\n\nDate.prototype.yyyymmddhhmm = function() {\n  var yyyymmdd = this.yyyymmdd();\n  var hh = this.getHours() < 10 ? \"0\" + this.getHours() : this.getHours();\n  var min = this.getMinutes() < 10 ? \"0\" + this.getMinutes() : this.getMinutes();\n  return \"\".concat(yyyymmdd).concat(hh).concat(min);\n};\n\nDate.prototype.yyyymmddhhmmss = function() {\n  var yyyymmddhhmm = this.yyyymmddhhmm();\n  var ss = this.getSeconds() < 10 ? \"0\" + this.getSeconds() : this.getSeconds();\n  return \"\".concat(yyyymmddhhmm).concat(ss);\n};\n\nvar d = new Date();\nmsg.payload = d.yyyymmddhhmmss()+\"|\"+msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":80,"wires":[["8664e657.889048","64813a04.a05ca4","70806438.fd0cfc","62bf2b49.86ba74"]]},{"id":"601a8be3.82b7f4","type":"inject","z":"8c8f6b63.f0e538","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Temp = 25*C | Humdity = 70%","payloadType":"str","x":110,"y":100,"wires":[["f5ea902e.288f9"]]},{"id":"cac1f33.abf011","type":"ui_button","z":"8c8f6b63.f0e538","name":"","group":"34f1e2e3.85e71e","order":1,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Clear","payloadType":"str","topic":"Clear","x":290,"y":260,"wires":[["70806438.fd0cfc"]]},{"id":"70806438.fd0cfc","type":"ui_text","z":"8c8f6b63.f0e538","group":"34f1e2e3.85e71e","order":1,"width":"6","height":"10","name":"","label":"ITO : ","format":"{{msg.payload}}","layout":"row-right","x":490,"y":220,"wires":[]},{"id":"62bf2b49.86ba74","type":"file","z":"8c8f6b63.f0e538","name":"","filename":"D:\\karn vr.2\\iot\\AB.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":710,"y":220,"wires":[[]]},{"id":"e0e781c4.5e814","type":"tcp in","z":"8c8f6b63.f0e538","name":"","server":"server","host":"","port":"1234","datamode":"stream","datatype":"utf8","newline":"","topic":"IOT","base64":false,"x":120,"y":160,"wires":[["f5ea902e.288f9"]]},{"id":"f2abe2ba.1a75f","type":"mqtt in","z":"8c8f6b63.f0e538","name":"","topic":"Topic1","qos":"2","datatype":"auto","broker":"cecf0acf.bfc918","x":430,"y":340,"wires":[["e77fb9aa.7dd458","5e2679bc.8832d8"]]},{"id":"8339e81f.6c7e58","type":"inject","z":"8c8f6b63.f0e538","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello World","payloadType":"str","x":130,"y":340,"wires":[["3d3a9090.4f1df"]]},{"id":"e77fb9aa.7dd458","type":"debug","z":"8c8f6b63.f0e538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":340,"wires":[]},{"id":"3d3a9090.4f1df","type":"mqtt out","z":"8c8f6b63.f0e538","name":"","topic":"Topic1","qos":"","retain":"","broker":"cecf0acf.bfc918","x":280,"y":340,"wires":[]},{"id":"5e2679bc.8832d8","type":"function","z":"8c8f6b63.f0e538","name":"","func":"Date.prototype.yyyymmdd = function() {\n  var yyyy = this.getFullYear();\n  var mm = this.getMonth() < 9 ? \"0\" + (this.getMonth() + 1) : (this.getMonth() + 1); // getMonth() is zero-based\n  var dd = this.getDate() < 10 ? \"0\" + this.getDate() : this.getDate();\n  return \"\".concat(yyyy).concat(mm).concat(dd);\n};\n\nDate.prototype.yyyymmddhhmm = function() {\n  var yyyymmdd = this.yyyymmdd();\n  var hh = this.getHours() < 10 ? \"0\" + this.getHours() : this.getHours();\n  var min = this.getMinutes() < 10 ? \"0\" + this.getMinutes() : this.getMinutes();\n  return \"\".concat(yyyymmdd).concat(hh).concat(min);\n};\n\nDate.prototype.yyyymmddhhmmss = function() {\n  var yyyymmddhhmm = this.yyyymmddhhmm();\n  var ss = this.getSeconds() < 10 ? \"0\" + this.getSeconds() : this.getSeconds();\n  return \"\".concat(yyyymmddhhmm).concat(ss);\n};\n\nvar d = new Date();\nmsg.payload = d.yyyymmddhhmmss()+\"|\"+msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":440,"wires":[["af95920a.f5f57"]]},{"id":"af95920a.f5f57","type":"file","z":"8c8f6b63.f0e538","name":"","filename":"D:\\karn vr.2\\iot\\test.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":640,"y":440,"wires":[[]]},{"id":"34f1e2e3.85e71e","type":"ui_group","name":"Default","tab":"83554dae.8aea","order":1,"disp":true,"width":"6","collapse":false},{"id":"cecf0acf.bfc918","type":"mqtt-broker","name":"Broker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"83554dae.8aea","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]